<main>
  <p></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <%= render partial: 'leftcommon', locals: { user: @user, book: @book } %>
      <!-- 右側 -->
      <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <!-- 各trごとに1ユーザーの情報を載せていく（Bookモデルのindexアクションindex.html.erbのような働きをここにさせたい-->
            <% @books.each do |b| %>
              <tr>
                <td><!-- Bookモデルに投稿したユーザーの画像（Userモデルの画像）を表示させたい-->
                  <%= image_tag(b.user.image.attached? ? b.user.image : 'noimage.png', style: 'width: 100px; height: 100px;', class: 'img-fluid') %>
                </td>
                <td><!-- Bookモデルに投稿されたtitleカラムを表示させたい-->
                  <%= link_to b.title, book_path(b) %>
                </td>
                <td><!-- Bookモデルに投稿されたbodyカラムを表示させたい-->
                  <%= b.body %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</main>
